In [95]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [96]:
#importing libraries
import selenium 
import pandas as pd
import time

#importing selenium webdriver
from selenium import webdriver

In [97]:
from selenium.common.exceptions import NoSuchElementException

Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [98]:
#Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

In [99]:
#opening the home page of naukri.com
url=("https://www.naukri.com/")
driver.get(url)

In [100]:
search_button=driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]')  
search_button.click()

In [101]:
#enter the input to search the keywords.
user_inp_job=input('Enter the job role')

Enter the job role Data Analyst

In [102]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")       #locating searc_bar by id
search_job.clear()                                                 #Clearing search_bar
search_job.send_keys(user_inp_job)                               #sending user input to search bar
time.sleep(4)

In [103]:
#enter the input to search the keywords.
user_inp_loc=input('Enter the loction')

Enter the loction Bangalore

In [104]:
search_loc=driver.find_element_by_id("qsb-location-sugg")       #locating searc_bar by id
search_loc.clear()                                                 #Clearing search_bar
search_loc.send_keys(user_inp_loc)                               #sending user input to search bar
time.sleep(4)

In [105]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [106]:
Title=[]
Location=[]
Company=[]
Experience=[]

urls=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')    #collecting urls of all the Jobs

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))                 #getting the url of first 10 Jobs

for url in UR:                                  #loop for every Jobs in the list

    driver.get(url)

    try:                                       #exception handling for no such element exception


        title=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')   #location of title

        Title.append(title.text)                     #appending the title from title list
        
        company=driver.find_element_by_xpath('//div[@class="jd-header-comp-name"]')   #location of Company

        Company.append(company.text)                #appending the Company from Company list
        
        location=driver.find_element_by_xpath('//div[@class="loc"]/span')   #location of location

        Location.append(location.text)        #appending the location from location list
        
        experience=driver.find_element_by_xpath('//div[@class="exp"]/span')   #location of experience

        Experience.append(experience.text)    #appending the experience from experience list
        
    except NoSuchElementException   as e:

        Title.append("No Title")                # appending the No title if no title is there       
        
        Company.append("No Company name")       # appending the No Company name if no Company name is there
        
        Location.append("No Location")         # appending the No Location if no Location is there
        
        Experience.append("No Experience")      #appending the No Experience if no Experience is there

In [107]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=Title[:10]
jobs['Company Name']=Company[:10]
jobs['Location']=Location[:10]
jobs['Experience Required']=Experience[:10]
jobs

,Title,Company Name,Location,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0 - 3 years
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited4.1(627 Rev...,Bangalore/Bengaluru,6 - 9 years
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12 - 18 years
3,Data Analyst,SA Tech Software (I) Pvt. Ltd.4.3(33 Reviews),"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",1 - 3 years
4,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt L...,Bangalore/Bengaluru,2 - 4 years
5,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited4.1(628 Re...,Bangalore/Bengaluru,2 - 7 years
6,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.4.2(269 Rev...,Bangalore/Bengaluru,4 - 7 years
7,SW Technologist I- Data Analyst,Philips India Limited4.0(533 Reviews),Bangalore/Bengaluru,5 - 10 years
8,Data Analyst,Flipkart Internet Private Limited4.2(3062 Revi...,Bangalore/Bengaluru,1 - 3 years
9,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited4.2(3062 Revi...,Bangalore/Bengaluru,2 - 6 years

2.Please note that you have to scrape full job description. For that you may have to 
open each job separately as shown below?

In [108]:
driver=webdriver.Chrome("chromedriver.exe")

In [109]:
url=("https://www.naukri.com/")
driver.get(url)

In [110]:
search_button=driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]')  
search_button.click()

In [111]:
#enter the input to search the keywords.
user_inp_job=input('Enter the job role')

Enter the job role Data Scientist

In [112]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")       #locating searc_bar by id
search_job.clear()                                                 #Clearing search_bar
search_job.send_keys(user_inp_job)                               #sending user input to search bar
time.sleep(4)

In [113]:
#enter the input to search the keywords.
user_inp_loc=input('Enter the loction')

Enter the loction Bangalore

In [114]:
search_loc=driver.find_element_by_id("qsb-location-sugg")       #locating searc_bar by id
search_loc.clear()                                                 #Clearing search_bar
search_loc.send_keys(user_inp_loc)                               #sending user input to search bar
time.sleep(4)

In [115]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [116]:
Title=[]
Location=[]
Company=[]
job_description=[]

urls=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')    #collecting urls of all the Jobs

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))                 #getting the url of first 10 Jobs

for url in UR:                                  #loop for every Jobs in the list

    driver.get(url)

    try:                                       #exception handling for no such element exception


        title=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')   #location of title

        Title.append(title.text)                     #appending the title from title list
        
        company=driver.find_element_by_xpath('//div[@class="jd-header-comp-name"]')   #location of Company

        Company.append(company.text)                #appending the Company from Company list
        
        location=driver.find_element_by_xpath('//div[@class="loc"]/span')   #location of location

        Location.append(location.text)        #appending the location from location list
        
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text

        description=raw_description.replace("Contact Person","@@@@@")

        description= description.split("@@@@@")

        job_description.append(description[0])
        
    except NoSuchElementException   as e:

        Title.append("No Title")                # appending the No title if no title is there       
        
        Company.append("No Company name")       # appending the No Company name if no Company name is there
        
        Location.append("No Location")         # appending the No Location if no Location is there
        
        job_description.append("-----")      #appending the ------- if Nothing is there

In [117]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=Title[:10]
jobs['Company Name']=Company[:10]
jobs['Location']=Location[:10]
jobs['Job_description']=job_description[:10]
jobs

,Title,Company Name,Location,Job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,Data Scientist,Wipro Limited3.8(12137 Reviews),"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Role: Data Scientist\n\nRoles and Responsibili...
2,No Title,No Company name,No Location,-----
3,Specialist I - Data Scientist,Philips India Limited4.0(533 Reviews),Bangalore/Bengaluru,Responsibilities and Key Result Areas\nDesign ...
4,No Title,No Company name,No Location,-----
5,No Title,No Company name,No Location,-----
6,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd3.7(1326 Revi...,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
7,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd3.7(1326 Revi...,Bangalore/Bengaluru,"Business & Team overview:\nFounded in 1987, Hu..."
8,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Dear Aspirant,\n\nGreetings from Globaledx\n\n..."
9,Senior Data Scientist,GO-JEK India4.4(5 Reviews),Bangalore/Bengaluru,About the Role\nFasten your helmet and climb o...

In this question you have to scrape data using the filters available on the 
webpage as shown below:

In [118]:
driver=webdriver.Chrome("chromedriver.exe")

In [119]:
url=("https://www.naukri.com/")
driver.get(url)

In [120]:
search_button=driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]')  
search_button.click()

In [121]:
#enter the input to search the keywords.
user_inp_job=input('Enter the job role')

Enter the job role Data Scientist

In [122]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")       #locating searc_bar by id
search_job.clear()                                                 #Clearing search_bar
search_job.send_keys(user_inp_job)                               #sending user input to search bar
time.sleep(4)

In [123]:
#enter the input to search the keywords.
user_inp_loc=input('Enter the loction')

Enter the loction Delhi/NCR

In [124]:
search_loc=driver.find_element_by_id("qsb-location-sugg")       #locating searc_bar by id
search_loc.clear()                                                 #Clearing search_bar
search_loc.send_keys(user_inp_loc)                               #sending user input to search bar
time.sleep(4)

In [125]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [126]:
user_inp=input

In [127]:
time.sleep(4)
search_button=driver.find_element_by_xpath('//i[@class="fleft naukicon naukicon-checkbox"]')      #Filter location of Delhi/NCR 
search_button.click()

In [128]:
search_button=driver.find_element_by_xpath('//div[@data-filter-id="salaryRange"]/div[2]/label[1]/i[1]').click()      #Filter location of Salary range 3-6 years

In [129]:
Title=[]
Location=[]
Company=[]
Experience=[]

urls=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')    #collecting urls of all the Jobs

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))                 #getting the url of first 10 Jobs

for url in UR:                                  #loop for every Jobs in the list

    driver.get(url)

    try:                                       #exception handling for no such element exception


        title=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')   #location of title

        Title.append(title.text)                     #appending the title from title list
        
        company=driver.find_element_by_xpath('//div[@class="jd-header-comp-name"]')   #location of Company

        Company.append(company.text)                #appending the Company from Company list
        
        location=driver.find_element_by_xpath('//div[@class="loc"]/span')   #location of location

        Location.append(location.text)        #appending the location from location list
        
        experience=driver.find_element_by_xpath('//div[@class="exp"]/span')   #location of experience

        Experience.append(experience.text)    #appending the experience from experience list
        
    except NoSuchElementException   as e:

        Title.append("No Title")                # appending the No title if no title is there       
        
        Company.append("No Company name")       # appending the No Company name if no Company name is there
        
        Location.append("No Location")         # appending the No Location if no Location is there
        
        Experience.append("No Experience")      #appending the No Experience if no Experience is there

In [130]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=Title[:10]
jobs['Company Name']=Company[:10]
jobs['Location']=Location[:10]
jobs['Experience Required']=Experience[:10]
jobs

,Title,Company Name,Location,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0 - 3 years
1,Business Analyst- Data Scientist,Wipro3.8(12137 Reviews),"Noida, Gurgaon/Gurugram",2 - 5 years
2,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3 - 5 years
3,No Title,No Company name,No Location,No Experience
4,No Title,No Company name,No Location,No Experience
5,Data Scientist - Noida,Optum Global Solutions (India) Private Limited...,Noida,3 - 5 years
6,Data Scientist,Blitz Jobs,Noida,3 - 5 years
7,No Title,No Company name,No Location,No Experience
8,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1 - 3 years
9,Senior Data Scientist II 5+ yrs II Gurgaon,Zenatix Solutions Private Limited4.0(14 Reviews),Gurgaon/Gurugram,5 - 10 years

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [29]:
!pip install selenium

import selenium 
import pandas as pd
from selenium import webdriver
import time
user_inp=input

from selenium.common.exceptions import NoSuchElementException

driver=webdriver.Chrome("chromedriver.exe")

url=("https://www.glassdoor.co.in/index.htm")
driver.get(url)

search_button=driver.find_element_by_xpath('//span[@class="sepafter pr-xxsm"]/a').click()     #location of search_button 


#enter the input to search the keywords.
user_inp_job=input('Enter the job role')

search_job=driver.find_element_by_id("sc.keyword")       #locating searc_bar by id
search_job.clear()                                                 #Clearing search_bar
search_job.send_keys(user_inp_job)                               #sending user input to search bar
time.sleep(4)

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)
Enter the job role Data Scientist

In [31]:
#enter the input to search the keywords.
user_inp_loc=input('Enter the location')

search_loc=driver.find_element_by_id("sc.location")       #locating searc_bar by id
search_loc.clear()                                                 #Clearing search_bar
search_loc.send_keys(user_inp_loc)                               #sending user input to search bar
time.sleep(4)

Enter the loction Noida

In [32]:
search_button=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')  #location of search_button 
search_button.click()

In [33]:
Title=[]
Company=[]
Days_ago=[]
Ratings=[]
urls=driver.find_elements_by_xpath('//a[@class="jobLink css-1rd3saf eigr9kq2"]')    #collecting urls of all the Jobs

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))                 #getting the url of first Jobs laptops

for url in UR:                                  #loop for every laptop in the list

    driver.get(url)

    try:                                       #exception handling for nosuchelementexception


        title=driver.find_element_by_xpath('//div[@class="css-17x2pwl e11nt52q6"]')   #location of title

        Title.append(title.text)                     #appending the title from title list
        
        company=driver.find_element_by_xpath('//div[@class="css-16nw49e e11nt52q1"]')   #location of Company

        Company.append(company.text)                #appending the company from company list
        
        days_ago=driver.find_element_by_xpath('//span[@class="css-13r90be e5rtmyt0"]')   #location of no.of days ago from days ago list

        Days_ago.append(days_ago.text)             #appending the no.of days ago from days_ago list
        
        rating=driver.find_element_by_xpath('//span[@class="css-1pmc6te e11nt52q4"]')   #location of rating 

        Ratings.append(rating.text)              #appending the rating from rating list
        
    except NoSuchElementException   as e:

        Title.append("No Title")                       #appending the No title if title is not there
        
        Company.append("No Company name")              #appending the No Company name if Company name is not there
        
        Days_ago.append("-----")                         #appending the ------  if no.of days ago is not there 
        
        Ratings.append("No rating")                    #appending the No rating if Rating is not there
        




import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=Title[:10]
jobs['Company name']=Company[:10]
jobs['No.of days ago']=Days_ago[:10]
jobs['Rating']=Ratings[:10]
jobs

            Title                     Company name No.of days ago     Rating
0  Data Scientist                 Ericsson\n4.1\n★            24d     4.1\n★
1  Data Scientist         Lantern Digital Services            23d  No rating
2        No Title                  No Company name          -----  No rating
3  Data Scientist                 Mansha Solutions            23d     4.1\n★
4        No Title                  No Company name          -----  No rating
5  Data Scientist  Boston Consulting Group\n4.1\n★             7d     3.8\n★
6  Data Scientist                       MasterCard             4d  No rating
7        No Title                  No Company name          -----     3.7\n★
8  Data Scientist           Biz2Credit Inc\n3.8\n★            23d     3.1\n★
9  Data Scientist                         Sparkbpl            23d  No rating

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:

In [52]:
#importing libraries
import selenium 
import pandas as pd
import time

#importing selenium webdriver
from selenium import webdriver

#Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

#opening the home page of flipkart.in
driver.get('https://www.flipkart.com/')

#enter the input to search the keywords.
user_inp=input('Enter the product name')

search_bar=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')       #locating searc_bar by id
search_bar.clear()                                                 #Clearing search_bar
search_bar.send_keys(user_inp)                               #sending user input to search bar
time.sleep(4)
                                                                                      

search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')      #location of search_button 
search_button.click()

Enter the product nameSunglass

In [53]:
Brand=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        if i.text==None:
            Brand.append('None')
        else:
            Brand.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)


search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [54]:
Product_Description=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        if i.text==None:
            Product_Description.append('None')
        else:
            Product_Description.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)

search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [55]:
Price=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        if i.text==None:
            Price.append('None')
        else:
            Price.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)

search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [56]:
Discount=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        if i.text==None:
            Discount.append('None')
        else:
            Discount.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)

In [57]:
import pandas as pd
sunglass=pd.DataFrame({})
sunglass['Brand']=Brand[:100]
sunglass['Product Description']=Product_Description[:100]
sunglass['Price']=Price[:100]
sunglass['Discount']=Discount[:100]

pd.set_option('display.max_rows',None)  #to visualize all variables.

sunglass

,Brand,Product Description,Price,Discount
0,bulgaria,Others Rectangular Sunglasses (Free Size),₹284,71% off
1,SUNBEE,"UV Protection, Polarized, Gradient, Mirrored W...",₹283,78% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
5,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
6,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
7,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
8,PHENOMENAL,UV Protection Aviator Sunglasses (58),₹215,72% off
9,NuVew,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
10,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
11,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
13,HAMIW COLLECTION,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹854,85% off
14,DEIXELS,"UV Protection, Mirrored Retro Square Sunglasse...",₹213,82% off
15,PHENOMENAL,UV Protection Wayfarer Sunglasses (55),₹399,80% off
16,HIPPON,UV Protection Aviator Sunglasses (Free Size),₹251,79% off
17,Fastrack,UV Protection Aviator Sunglasses (57),₹674,25% off
18,GANSTA,UV Protection Round Sunglasses (Free Size),₹281,85% off
19,ROYAL SON,"Mirrored, Riding Glasses, Others Sports Sungla...",₹395,66% off
20,Singco India,"UV Protection, Riding Glasses Rectangular Sung...",₹236,84% off
21,ROZZETTA CRAFT,"UV Protection, Riding Glasses, Others Aviator,...",₹449,79% off
22,Singco India,"UV Protection, Gradient Cat-eye Sunglasses (63)",₹194,72% off
23,ROYAL SON,UV Protection Aviator Sunglasses (Free Size),₹210,57% off
24,Singco India,UV Protection Round Sunglasses (Free Size),₹339,71% off
25,DEIXELS,UV Protection Aviator Sunglasses (58),₹209,73% off
26,Fastrack,"Gradient, UV Protection Round Sunglasses (Free...","₹1,123",13% off
27,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (58),₹449,77% off
28,Fastrack,"Mirrored, UV Protection, Gradient Round Sungla...",₹474,68% off
29,HAMIW COLLECTION,UV Protection Wayfarer Sunglasses (Free Size),₹664,73% off
30,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),₹836,7% off
31,Silver Kartz,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹259,82% off
32,Fastrack,Polarized Retro Square Sunglasses (58),₹199,80% off
33,HAMIW COLLECTION,UV Protection Wayfarer Sunglasses (57),₹399,86% off
34,ROZZETTA CRAFT,UV Protection Shield Sunglasses (54),₹559,30% off
35,GANSTA,UV Protection Wayfarer Sunglasses (56),₹499,80% off
36,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹759,15% off
37,Fastrack,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹638,20% off
38,ROYAL SON,UV Protection Retro Square Sunglasses (Free Size),₹199,80% off
39,Royaltail,"UV Protection, Gradient Rectangular Sunglasses...",₹399,74% off
40,Flizz,"Riding Glasses, UV Protection, Others Aviator ...",₹399,81% off
41,ROZZETTA CRAFT,"UV Protection, Polarized, Mirrored Round Sungl...",₹499,77% off
42,Singco India,UV Protection Wrap-around Sunglasses (Free Size),₹227,84% off
43,SUNBEE,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹449,55% off
44,elegante,"UV Protection, Gradient Round Sunglasses (Free...",₹499,66% off
45,GANSTA,UV Protection Wayfarer Sunglasses (Free Size),₹260,86% off
46,ROZZETTA CRAFT,UV Protection Sports Sunglasses (Free Size),₹449,77% off
47,Fastrack,UV Protection Retro Square Sunglasses (88),₹576,27% off
48,hipe,UV Protection Aviator Sunglasses (58),₹319,83% off
49,ROYAL SON,UV Protection Aviator Sunglasses (58),₹329,80% off
50,Fastrack,UV Protection Aviator Sunglasses (Free Size),"₹1,085",16% off
51,Fastrack,Mirrored Aviator Sunglasses (55),"₹1,148",11% off
52,Fastrack,Mirrored Aviator Sunglasses (58),₹759,15% off
53,ROYAL SON,"Polarized, UV Protection, Riding Glasses Wayfa...",₹599,70% off
54,ROYAL SON,"UV Protection, Gradient Retro Square Sunglasse...",₹399,73% off
55,DEIXELS,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹236,60% off
56,ROZZETTA CRAFT,"UV Protection, Mirrored Retro Square Sunglasse...",₹449,77% off
57,Fastrack,UV Protection Round Sunglasses (53),₹759,15% off
58,PHENOMENAL,UV Protection Wayfarer Sunglasses (Free Size),₹399,80% off
59,HAMIW COLLECTION,UV Protection Aviator Sunglasses (Free Size),₹379,74% off
60,DEIXELS,"UV Protection, Mirrored, Gradient Retro Square...",₹200,59% off
61,NuVew,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹417,66% off
62,PHENOMENAL,UV Protection Shield Sunglasses (Free Size),₹259,87% off
63,HAMIW COLLECTION,Others Retro Square Sunglasses (Free Size),₹219,86% off
64,Fastrack,UV Protection Aviator Sunglasses (57),₹759,15% off
65,Villain,"Mirrored, UV Protection, Gradient Round Sungla...",₹599,20% off
66,GANSTA,UV Protection Aviator Sunglasses (55),₹337,83% off
67,hipe,UV Protection Aviator Sunglasses (Free Size),₹210,85% off
68,Crackers,"Polarized, UV Protection Aviator Sunglasses (58)",₹170,82% off
69,Royaltail,UV Protection Clubmaster Sunglasses (Free Size),₹199,88% off
70,ROYAL SON,Polarized Sports Sunglasses (68),₹711,64% off
71,PHENOMENAL,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹319,84% off
72,ROYAL SON,"UV Protection, Mirrored Clubmaster Sunglasses ...","₹1,234",50% off
73,HAMIW COLLECTION,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹699,56% off
74,PHENOMENAL,UV Protection Oval Sunglasses (60),₹319,84% off
75,Fastrack,"UV Protection, Night Vision, Riding Glasses Av...",₹777,22% off
76,AISLIN,"UV Protection, Gradient Round Sunglasses (Free...",₹764,69% off
77,GANSTA,UV Protection Wayfarer Sunglasses (55),₹292,85% off
78,ROZZETTA CRAFT,"UV Protection, Polarized, Mirrored Round Sungl...",₹399,80% off
79,ROYAL SON,UV Protection Round Sunglasses (54),₹209,86% off
80,bulgaria,UV Protection Rectangular Sunglasses (Free Size),₹329,55% off
81,SUNBEE,UV Protection Retro Square Sunglasses (Free Size),₹219,80% off
82,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹570,28% off
83,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,77% off
84,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹733,18% off
85,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (54),₹404,79% off
86,PIRASO,UV Protection Aviator Sunglasses (58),₹349,78% off
87,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹250,84% off
88,NuVew,UV Protection Wayfarer Sunglasses (Free Size),₹215,72% off
89,PHENOMENAL,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹399,80% off
90,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹758,15% off
91,Fastrack,UV Protection Round Sunglasses (53),₹621,22% off
92,ROZZETTA CRAFT,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹499,77% off
93,HAMIW COLLECTION,"UV Protection, Mirrored Retro Square Sunglasse...",₹599,86% off
94,DEIXELS,UV Protection Wayfarer Sunglasses (55),₹213,82% off
95,PHENOMENAL,UV Protection Aviator Sunglasses (Free Size),₹399,80% off
96,HIPPON,UV Protection Aviator Sunglasses (57),₹251,79% off
97,Fastrack,UV Protection Retro Square Sunglasses (88),₹674,25% off
98,GANSTA,"Mirrored, Riding Glasses, Others Sports Sungla...",₹281,85% off
99,ROYAL SON,"UV Protection, Riding Glasses Rectangular Sung...",₹199,70% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link:

In [45]:
!pip install selenium

import selenium 
import pandas as pd
from selenium import webdriver
import time
user_inp=input

from selenium.common.exceptions import NoSuchElementException

driver=webdriver.Chrome("chromedriver.exe")

url=("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
driver.get(url)

Rating=[]
Summary=[]
Full=[]

urls=driver.find_elements_by_xpath('//div[@class="col JOpGWq"]/a')    #collecting urls of all the Jobs

UR=[]

for i in urls[:100]:

    UR.append(i.get_attribute('href'))                 #getting the url of first 100 Reviews

for url in UR:                                  #loop for every Jobs in the list

    driver.get(url)

    try:                                       #exception handling for no such element exception


        rating=driver.find_element_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')   #location of rating

        Rating.append(rating.text)                     #appending the rating from rating list
        
        summary=driver.find_element_by_xpath('//p[@class="_2-N8zT"]')   #location of Summary

        Summary.append(summary.text)                #appending the Review_summary from Summary list
        
        full=driver.find_element_by_xpath('//div[@class="t-ZTKy"]')   #location of Full

        Full.append(full.text)        #appending the full review from full list
        
        
        
    except NoSuchElementException   as e:

        Rating.append("No Rating")                # appending the No Rating if no rating is there       
        
        Summary.append("No Review Summary")       # appending the No Review Summary if no review ummary is there
        
        Full.append("No Full Review")         # appending the No Full review if no Full review is there
        


import pandas as pd
Reviews=pd.DataFrame({})
Reviews['Rating']=Rating[:100]
Reviews['Review_summary']=Summary[:100]
Reviews['Full review']=Full[:100]
Reviews

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)

  Rating Review_summary                                        Full review
0      5      Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.

In [58]:
#importing libraries
import selenium 
import pandas as pd
import time

#importing selenium webdriver
from selenium import webdriver

#Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

#opening the home page of flipkart.in
driver.get('https://www.flipkart.com/')

#enter the input to search the keywords.
user_inp=input('Enter the product name')

search_bar=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')       #locating searc_bar by id
search_bar.clear()                                                 #Clearing search_bar
search_bar.send_keys(user_inp)                               #sending user input to search bar
time.sleep(4)
                                                                                      

search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')      #location of search_button 
search_button.click()

Enter the product name Sneakers

In [59]:
Brand=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        if i.text==None:
            Brand.append('None')
        else:
            Brand.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)
search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [60]:
Product_Description=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        if i.text==None:
            Product_Description.append('None')
        else:
            Product_Description.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)
search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [61]:
Price=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        if i.text==None:
            Price.append('None')
        else:
            Price.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)
search_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span')      #location of search_button 
search_button.click()

In [62]:
Discount=[]
for page in range(0,3):
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
        if i.text==None:
            Discount.append('None')
        else:
            Discount.append(i.text)
    ur=driver.find_element_by_xpath('//a[@class="_1LKTO3"]').get_attribute('href')
    driver.get(ur)

In [63]:
pd.set_option('display.max_rows',None)  #to visualize all variables.

import pandas as pd
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:100]
sneakers['Product Description']=Product_Description[:100]
sneakers['Price']=Price[:100]
sneakers['Discount']=Discount[:100]
sneakers

,Brand,Product Description,Price,Discount
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
1,Numenzo,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
2,ORICUM,Sneakers For Men,₹399,60% off
3,World Wear Footwear,"Light weighted Running shoes, casual shoes, sp...",₹599,69% off
4,Robbie jones,Sneakers For Men,₹474,52% off
5,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
6,Stefano Rads,Combo Pack Of 4 Canvas Sneakers For Men,₹229,67% off
7,BRUTON,White Sneaker For Men's/Boy's Sneakers For Men,₹499,85% off
8,Shoes Bank,Sneakers For Men,₹349,65% off
9,Echor,Combo Pack of 4 Casual Shoes Sneakers For Men,₹569,43% off
10,VIPSJAZZY,sneaker for mens and boys Sneakers For Men,₹419,58% off
11,Wika,Fashionable casual sneakers shoes for men Snea...,₹449,55% off
12,Birde,Casual Sneakers Black Shoes For Men Sneakers F...,₹757,62% off
13,luxury fashion,Latest Stylish Casual sneakers for men | Lace ...,₹455,33% off
14,"""trend""",Series 7 Sneakers For Men,₹426,78% off
15,Robbie jones,White Sneakers Sneakers For Men,₹428,57% off
16,VORII,Casual sneakers shoes for men Sneakers For Men,₹379,62% off
17,Kraasa,Sneakers For Men,₹416,58% off
18,Magnolia,casual for men (blue 06) Sneakers For Men,₹305,69% off
19,DUCATI,Combo of 4 Sneakers For Men,₹525,88% off
20,aadi,ORIFWSH(OR)-1077 Sneakers For Men,₹298,70% off
21,bluemaker,Sneakers Sneakers For Men,₹474,52% off
22,3SIX5,Synthetic Leather Casual Partywear Wedding Sne...,₹569,43% off
23,World Wear Footwear,SM-322 Sneakers For Men,₹549,73% off
24,Echor,Casual Sneakers Shoes For Men And Boys Sneaker...,₹214,57% off
25,T-ROCK,Combo Pack of 4 Latest Collection Stylish Casu...,₹398,60% off
26,SCATCHITE,Sneakers For Men,₹378,62% off
27,SPARX,Casual Sneaker Sneakers For Men,₹769,23% off
28,Robbie jones,Sneakers For Men,₹499,50% off
29,DUCATI,Casual shoes Sneakers For Men,"₹1,987",45% off
30,World Wear Footwear,Sneakers For Men,₹499,81% off
31,Numenzo,SM-482 Sneakers For Men,₹429,57% off
32,Ktiz,Sneakers Sneakers For Men,₹539,46% off
33,India hub,Sneakers For Men,"₹1,461",44% off
34,restinfoot,SM-439 Sneakers For Men,₹379,62% off
35,Numenzo,Sneakers For Men,₹474,63% off
36,Raftar,New Latest Affordable Range of Combo Pack of 2...,₹365,63% off
37,SPARX,Sneakers For Men,₹965,28% off
38,HOTSTYLE,Casual Sneakers Shoes For Men Sneakers For Men,₹299,40% off
39,Fzzirok,Combo Pack of 4 Casual Shoes Sneakers For Men,₹283,59% off
40,Arohi,Sneakers For Men,₹441,55% off
41,SPARX,5011-Latest Collection Stylish Casual Loafer S...,₹699,66% off
42,Walkstyle,Luxury sneaker shoes Sneakers For Men,₹509,75% off
43,World Wear Footwear,Combo Pack of 2 Latest Collection Stylish Casu...,₹498,51% off
44,World Wear Footwear,"Casual , Partywear Sneakers Shoes For Men's An...",₹240,52% off
45,Robbie jones,Men 5014 Latest Collection Stylish Casual Spor...,₹474,66% off
46,Birde,Sneakers For Men,₹661,69% off
47,Jokatoo,Sneakers For Men,₹455,51% off
48,World Wear Footwear,489 Black Sneakers For Men,₹240,80% off
49,luxury fashion,Combo Pack Of 4 Canvas Sneakers For Men,₹599,78% off
50,Axter,SD-323 Sneakers For Men,₹299,44% off
51,D-SNEAKERZ,Sneakers For Men,₹367,51% off
52,World Wear Footwear,New Latest Affordable Range of Combo Pack of 2...,₹240,47% off
53,DUCATI,Sneakers For Men,"₹1,924",66% off
54,Englewood,SM-162 Sneakers For Men,₹499,55% off
55,ESSENCE,Sneakers For Men,₹442,40% off
56,Zorth,Sneakers For Men,₹599,61% off
57,M K FOOTWEAR,casual for men (black 08) Sneakers For Men,₹389,72% off
58,VISTAARA,Canvas casual sneaker shoes Sneakers For Men,₹279,85% off
59,BRUTON,Men's Stylish Casual Shoes Sneakers For Men,₹499,15% off
60,SPARX,Sneakers For Men,₹632,36% off
61,Jack Diamond,Latest Stylish Casual sneakers for men | Lace ...,₹635,55% off
62,Paragon,Sneakers For Men,₹427,75% off
63,World Wear Footwear,shoe Sneakers For Men,₹498,70% off
64,TR,SM-322 Sneakers For Men,₹599,23% off
65,SPARX,Latest Collection-1227 Stylish Casual Sports S...,₹730,60% off
66,Ktiz,Sneakers For Men,₹399,53% off
67,Imcolus,Fashionable casual sneakers shoes for men Snea...,₹464,52% off
68,bluemaker,Casual Sneakers Shoes For Men Sneakers For Men,₹474,71% off
69,India hub,Combo pack of 2 casual sneaker shoes for men S...,₹569,43% off
70,Birde,Sneakers For Men,₹283,69% off
71,Clymb,Sneakers For Men,₹309,62% off
72,Wen Hawk,Sneakers Sneakers For Men,₹379,67% off
73,DUCATI,Combo Pack Of 4 Canvas Sneakers For Men,"₹1,199",46% off
74,Airland,White Sneaker For Men's/Boy's Sneakers For Men,₹265,23% off
75,SPARX,Sneakers For Men,₹769,51% off
76,World Wear Footwear,Combo Pack of 4 Casual Shoes Sneakers For Men,₹240,70% off
77,LEATHERKRAFT,Fashionable casual sneakers shoes for men Snea...,₹299,40% off
78,Zorth,Casual Sneakers Black Shoes For Men Sneakers F...,₹599,78% off
79,"""trend""",Latest Stylish Casual sneakers for men | Lace ...,₹426,62% off
80,Robbie jones,Series 7 Sneakers For Men,₹379,62% off
81,ORICUM,White Sneakers Sneakers For Men,₹377,60% off
82,Numenzo,Sneakers For Men,₹399,75% off
83,World Wear Footwear,casual for men (blue 06) Sneakers For Men,₹498,52% off
84,Robbie jones,ORIFWSH(OR)-1077 Sneakers For Men,₹474,43% off
85,HOTSTYLE,Sneakers Sneakers For Men,₹283,67% off
86,Stefano Rads,Synthetic Leather Casual Partywear Wedding Sne...,₹229,85% off
87,BRUTON,SM-322 Sneakers For Men,₹499,65% off
88,Shoes Bank,Casual Sneakers Shoes For Men And Boys Sneaker...,₹349,43% off
89,Echor,Combo Pack of 4 Latest Collection Stylish Casu...,₹569,58% off
90,VIPSJAZZY,Sneakers For Men,₹419,55% off
91,Wika,Casual Sneaker Sneakers For Men,₹449,62% off
92,Birde,Casual shoes Sneakers For Men,₹757,80% off
93,luxury fashion,Sneakers For Men,₹599,78% off
94,"""trend""",SM-482 Sneakers For Men,₹426,57% off
95,Robbie jones,Sneakers Sneakers For Men,₹428,62% off
96,VORII,Fashionable casual sneakers shoes Sneakers For...,₹379,58% off
97,Kraasa,Sneakers for men(black_6) Sneakers For Men,₹416,69% off
98,Magnolia,"Casual Loafers, Sneakers Shoes for Men Pack of...",₹305,47% off
99,DUCATI,Sneakers For Men,"₹1,924",70% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below imag

In [65]:
!pip install selenium

import selenium 
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome("chromedriver.exe")

url='https://www.myntra.com/shoes'
driver.get(url)

import time

user_inp=input

search_button=driver.find_element_by_xpath('//li[@class="colour-listItem"]/label[1]/div[1]').click() 

search_button=driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label[1]/div[1]').click()

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [66]:
Brand=[]
for page in range(0,2):
    for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        if i.text==None:
            Brand.append('None')
        else:
            Brand.append(i.text)
    ur=driver.find_element_by_xpath('//li[@class="pagination-next"]/a').get_attribute('href')
    driver.get(ur)

for page in range(0,2):
    search_button=driver.find_element_by_xpath('//li[@class="pagination-prev"]/a').get_attribute('href')
    driver.get(search_button)

In [67]:
Description=[]
for page in range(0,2):
    for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        if i.text==None:
            Description.append('None')
        else:
            Description.append(i.text)
    ur=driver.find_element_by_xpath('//li[@class="pagination-next"]/a').get_attribute('href')
    driver.get(ur)

for page in range(0,2):
    search_button=driver.find_element_by_xpath('//li[@class="pagination-prev"]/a').get_attribute('href')
    driver.get(search_button)

In [68]:
Price=[]
for page in range(0,2):
    for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        if i.text==None:
            Price.append('None')
        else:
            Price.append(i.text)
    ur=driver.find_element_by_xpath('//li[@class="pagination-next"]/a').get_attribute('href')
    driver.get(ur)

In [69]:
import pandas as pd
shoes=pd.DataFrame({})
shoes['Brand']=Brand
shoes['Description']=Description
shoes['Price']=Price


pd.set_option('display.max_rows',None)  #to visualize all variables.

shoes

,Brand,Description,Price
0,ADIDAS Originals,Men OZWEEGO Solid Sneakers,Rs. 7149Rs. 10999(35% OFF)
1,Nike,Men Solid Slip-On Sneakers,Rs. 11246Rs. 14995(25% OFF)
2,Nike,Men ZOOM FREAK 2 Basketball,Rs. 8750Rs. 10295(15% OFF)
3,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 8999
4,Nike,HOVR Velociti 3 Sports Shoes,Rs. 9599Rs. 11999(20% OFF)
5,UNDER ARMOUR,JOYRIDE RUN FK Running Shoes,Rs. 11495
6,Puma,Men Synthetic Sneakers,Rs. 12495
7,ALDO,Men JORDAN DELTA Basketball,Rs. 9999
8,ALDO,Men Liquify Running Shoes,Rs. 8799Rs. 10999(20% OFF)
9,Nike,Men AIR ZOOM Running Shoes,Rs. 11246Rs. 14995(25% OFF)
10,ALDO,Women Provoke XT Training,Rs. 7721Rs. 10295(25% OFF)
11,UNDER ARMOUR,Men Solid Leather Loafers,Rs. 7999Rs. 9999(20% OFF)
12,Nike,Men HOVR STRT Sportstyle Shoes,Rs. 7999Rs. 9999(20% OFF)
13,ALDO,Men KD13 EP Basketball Shoes,Rs. 7799Rs. 12999(40% OFF)
14,UNDER ARMOUR,Men JORDAN Basketball Shoes,Rs. 12995
15,Nike,Men Sneakers,Rs. 12495
16,ALDO,Unisex COSMIC UNITY Basketball,Rs. 9999
17,Puma,Men KD13 EP Basketball Shoes,Rs. 7999
18,Nike,Men BLAZER 77 Leather Sneakers,Rs. 12145Rs. 13495(10% OFF)
19,Nike,Men Textured Sneakers,Rs. 7900Rs. 9295(15% OFF)
20,ALDO,Men Solid Loafers,Rs. 12995
21,Nike,Men Colourblocked Sneakers,Rs. 7199Rs. 8999(20% OFF)
22,ALDO,Men Leather Oxfords,Rs. 12999
23,Nike,Women PEGASUS 37 Running Shoes,Rs. 6999Rs. 9999(30% OFF)
24,ALDO,Women Velocity Nitro Running,Rs. 11199Rs. 15999(30% OFF)
25,Nike,Men JORDAN MA2 Basketball,Rs. 7496Rs. 9995(25% OFF)
26,Nike,Men JOYRIDE Running Shoes,Rs. 10895
27,Saint G,Unisex Mirage Mox Sneakers,Rs. 8999
28,Puma,Calibrate Runner Luxe Running,Rs. 10999
29,Nike,Women Eternity Nitro Running,Rs. 9099Rs. 12999(30% OFF)
30,UNDER ARMOUR,Women Platforms,Rs. 10999
31,UNDER ARMOUR,Unisex Sneakers Casual Shoes,Rs. 8396Rs. 11995(30% OFF)
32,Skechers,Women REACT Running Shoes,Rs. 9999
33,Puma,Men UltraRide Running Shoes,Rs. 9999
34,UNDER ARMOUR,Women AIR MAX VIVA Sneakers,Rs. 7649Rs. 8999(15% OFF)
35,ADIDAS,Men SC 3ZER0 III Basketball,Rs. 7649Rs. 8999(15% OFF)
36,Puma,Men Liquify Running Shoes,Rs. 8799Rs. 10999(20% OFF)
37,UNDER ARMOUR,Men GO RUN 7 Running Shoes,Rs. 7999Rs. 9999(20% OFF)
38,Puma,Men UltraRide Running Shoes,Rs. 8099Rs. 8999(10% OFF)
39,UNDER ARMOUR,Men Speedfit 2.0 Hiking Shoes,Rs. 10399Rs. 12999(20% OFF)
40,UNDER ARMOUR,Women ULTRABOOST Running,Rs. 12349Rs. 18999(35% OFF)
41,Lacoste,Men Velocity Nitro Running,Rs. 10999
42,Nike,Men Charged Intake 4 Running,Rs. 9999
43,Skechers,Men SPEED 500 2 Running Shoes,Rs. 6999Rs. 9999(30% OFF)
44,Puma,Ralph Sampson 70 Sneakers,Rs. 10999
45,Nike,Men UltraRide Running Shoes,Rs. 7999
46,Puma,HOVR Sonic 3 Running Shoes,Rs. 7499
47,hummel,Charged Rogue 2 Wide 2E Shoes,Rs. 8099Rs. 8999(10% OFF)
48,UNDER ARMOUR,Men AIR MAX VG-R Sneakers,Rs. 6965Rs. 8195(15% OFF)
49,Puma,Men SKECH-AIR 92 Sneakers,Rs. 7999
50,UNDER ARMOUR,Women Peep Toes,Rs. 6999
51,UNDER ARMOUR,Women Provoke XT Training,Rs. 9599Rs. 11999(20% OFF)
52,Onitsuka Tiger,Unisex RS-FAST TECH Sneakers,Rs. 9999
53,Hush Puppies,TriBase Reign 2 Training Shoes,Rs. 8999
54,Puma,Men Liberate Nitro Running,Rs. 7199Rs. 8999(20% OFF)
55,ADIDAS Originals,Unisex Sneakers Casual Shoes,Rs. 7199Rs. 7999(10% OFF)
56,Puma,Men Leather Slip-On Sneakers,Rs. 7259Rs. 10999(34% OFF)
57,Puma,Men Superstar Leather Sneakers,Rs. 8999
58,Puma,Style Rider Cyborg Sneakers,Rs. 7999Rs. 9999(20% OFF)
59,Hush Puppies,Men Spike 19.1 Cricket Shoes,Rs. 7999
60,UNDER ARMOUR,Men Charged Pulse Running Shoe,Rs. 6999Rs. 9999(30% OFF)
61,UNDER ARMOUR,Men Solid Leather Formal Slip-Ons,Rs. 6999
62,Puma,Charged Impulse Running Shoes,Rs. 7649Rs. 8999(15% OFF)
63,FORCLAZ By Decathlon,Men Trekking Shoes,Rs. 8099Rs. 8999(10% OFF)
64,Puma,Men UltraRide Running Shoes,Rs. 8449Rs. 12999(35% OFF)
65,ADIDAS Originals,Men UltraRide Running Shoes,Rs. 6799Rs. 7999(15% OFF)
66,Puma,Women Velocity Nitro Running,Rs. 7649Rs. 8999(15% OFF)
67,Puma,Men Nite Jogger Fluid Sneakers,Rs. 7199Rs. 7999(10% OFF)
68,ADIDAS Originals,Women Eternity Nitro Running,Rs. 7149Rs. 10999(35% OFF)
69,UNDER ARMOUR,Men LQDCELL Tension Gym Shoes,Rs. 11999
70,Puma,Unisex Sneakers Casual Shoes,Rs. 10999
71,UNDER ARMOUR,HOVR Infinite 2 Running Shoes,Rs. 7199Rs. 7999(10% OFF)
72,Puma,Men Ozweego Sneakers,Rs. 8499Rs. 9999(15% OFF)
73,UNDER ARMOUR,Women HOVR Sonic 3 Running,Rs. 7199Rs. 8999(20% OFF)
74,ALDO,Ralph Sampson 70 Sneakers,Rs. 9099Rs. 12999(30% OFF)
75,FILA,Women Liquify Rebel Running,Rs. 7499
76,FILA,Men Solid Leather Formal Loafers,Rs. 8499
77,Puma,Men Colourblocked Sneakers,Rs. 6999
78,Onitsuka Tiger,Men Running Shoes,Rs. 9975Rs. 10500(5% OFF)
79,UNDER ARMOUR,Women Solid Sneakers,Rs. 7999
80,Saint G,Unisex Style Rider BP Sneakers,Rs. 7199Rs. 8999(20% OFF)
81,Cole Haan,Unisex Mexico 66 Paraty Sneakers,Rs. 12999
82,Puma,Unisex SC 3ZER0 IV Basketball,Rs. 10710Rs. 11900(10% OFF)
83,Ruosh,Men Leather Sneakers,Rs. 6990
84,Nike,Men Leather Slip-On Shoes,Rs. 7199Rs. 7999(10% OFF)
85,Puma,Calibrate Runner Luxe Running,Rs. 7999Rs. 9999(20% OFF)
86,Puma,Men JORDAN DELTA Sneakers,Rs. 10995
87,Puma,Unisex Sneakers Casual Shoes,Rs. 7999Rs. 9999(20% OFF)
88,Saint G,Women AIR MAX VERONA Sneakers,Rs. 7999
89,Nike,Unisex Mexico 66,Rs. 7496Rs. 9995(25% OFF)
90,Onitsuka Tiger,Unisex Mirage Mox Sneakers,Rs. 9999
91,Puma,Men Leather Driving Shoes,Rs. 10999
92,Puma,Women AIR MAX UP Sneakers,Rs. 9499
93,Geox,Women REACT VISION Sneakers,Rs. 8621Rs. 11495(25% OFF)
94,Nike,Unisex Sneakers Casual Shoes,Rs. 10500
95,Nike,Women D'LITES 3.0 Sneakers,Rs. 7696Rs. 10995(30% OFF)
96,Puma,Unisex RS 2.0 Futura Sneakers,Rs. 7999
97,Skechers,Women AIR MAX 2090 SE Sneakers,Rs. 6999
98,Nike,Unisex Oslo-City Sneakers,Rs. 9446Rs. 13495(30% OFF)
99,Lacoste,Men Sneakers Casual Shoes,Rs. 8999

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image:

In [87]:
!pip install selenium

import selenium 
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome("chromedriver.exe")

url='https://www.amazon.in/'
driver.get(url)

search_product=driver.find_element_by_id("twotabsearchtextbox")
search_product

search_product.send_keys("Laptop")

search_button=driver.find_element_by_id("nav-search-submit-button")
search_button.click()

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [88]:
import time

In [89]:
user_inp=input

In [93]:
search_button=driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span') 
search_button.click()

In [94]:
#i7 location 

title_i7=[]
price_i7=[]
ratings_i7=[]

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")    #collecting urls of all the laptop

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))                 #getting the url of first 10 laptops

for url in UR:                                  #loop for every laptop in the list

    driver.get(url)

    try:                                       #exception handling for nosuchelementexception


        titles=driver.find_element_by_xpath('//div[@id="titleSection"]')   #location of title

        title_i7.append(titles.text)   #appending the title from title list


        prices=driver.find_element_by_xpath('//tr[@id="priceblock_ourprice_row"]')    #location of price

        price_i7.append(prices.text)                       #appending the price from price list
        
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")  #locating the rating id link

        rate.click()                                                               #click the rating link found

        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")   #locating the rating

        ratings_i7.append(rating.text)                         #appending the ratings in Ratings list

    except NoSuchElementException   as e:                

        title_i7.append("No title")        # appending the No title if no title is there
        
        price_i7.append("No price")        #appending the No price if no price is there
        
        ratings_i7.append("No rating")     #appending the No rating if no rating is there


import pandas as pd
laptop=pd.DataFrame({})
laptop['Title']=title_i7[:10]
laptop['Rating']=ratings_i7[:10]
laptop['Price']=price_i7[:10]
laptop

,Title,Rating,Price
0,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,4.4 out of 5,"Price: ₹ 1,07,790.00"
1,"ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...",4.6 out of 5,"Price: ₹ 1,49,990.00"
2,"ASUS ZenBook Duo 14 (2021), Intel Core i7-1165...",No rating,"Price: ₹ 1,34,990.00"
3,No title,No rating,No price
4,(Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...,No rating,"Price: ₹ 44,999.00"
5,No title,3 out of 5,No price
6,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4 out of 5,No price
7,No title,4.3 out of 5,"Price: ₹ 86,926.00"
8,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,3.5 out of 5,"Price: ₹ 83,990.00"
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.3 out of 5,"Price: ₹ 3,43,099.00"

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.

In [134]:
!pip install selenium

import selenium 
import pandas as pd
from selenium import webdriver
import time
user_inp=input

from selenium.common.exceptions import NoSuchElementException

driver=webdriver.Chrome("chromedriver.exe")

url=("https://www.glassdoor.co.in/Salaries/index.htm")
driver.get(url)

#enter the input to search the keywords.
user_inp_job=input('Enter the job role')

search_job=driver.find_element_by_id("KeywordSearch")       #locating searc_bar by id
search_job.clear()                                                 #Clearing search_bar
search_job.send_keys(user_inp_job)                               #sending user input to search bar
time.sleep(4)
 

search_loc=driver.find_element_by_id("LocationSearch")       #locating searc_bar by id
search_loc.clear()

#enter the input to search the keywords.
user_inp_loc=input('Enter the loction')

search_loc=driver.find_element_by_id("LocationSearch")       #locating searc_bar by id
search_loc.clear()                                                 #Clearing search_bar
search_loc.send_keys(user_inp_loc)                               #sending user input to search bar
time.sleep(4)

search_button=driver.find_element_by_xpath('//button[@id="HeroSearchButton"]').click()

Requirement already satisfied: selenium in c:\users\jayasurya e\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jayasurya e\anaconda3\lib\site-packages (from selenium) (1.25.11)
Enter the job role Data Scientist
Enter the loction Noida

In [135]:
Average_Salary=driver.find_element_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
Average_Salary

Company=driver.find_element_by_xpath("//p[@class='m-0']")
Company

Min=driver.find_element_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
Min

Max=driver.find_element_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
Max

import pandas as pd
salary=pd.DataFrame({})
salary['Company name']=Company
salary['Average salary']=Average_Salary
salary['Minsalary']=Min
salary['Maxsalary']=Max
salary

Empty DataFrame
Columns: [Company name, Average salary, Minsalary, Maxsalary]
Index: []